<% include adminHead %>
<div>
</div>
<div>
  <table class="bordered">
        <thead>
          <tr>
              <th>Gambar</th>
              <th>Name Produk</th>
              <th>Harga Produk</th>
              <th>Deskripsi Produk</th>
              <th>Detail Produk</th>
              <th>Tanggal Input</th>
              <th>Action</th>
          </tr>
        </thead>
        <% for(var i=0; i<data.length; i++) {%>
        <tbody>
          <tr>
            <td>
              <img  src="/<%=data[i].gambar%>" alt="" style="width:50px;height:50px;" class="responsive-img 20px"/>
            </td>
            <td><%= data[i].name %></td>
            <td><%= data[i].harga %></td>
            <td><%= data[i].status %></td>
            <td><%= data[i].detail %></td>
            <td><%= data[i].tanggal %></td>
            <td><a href="/<%=data[i].id%>" class="btn btn-floating red"><i class="material-icons">mode_edit</i></a></td>

          </tr>
          <% } %>
        </tbody>
      </table>

</div>

<% include adminFoot %>
