<% include adminHead%>
<form method="post" action="/tambah" enctype="multipart/form-data">

    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="firstName">Nama Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="text" name="name"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="lastName">Harga Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="text" name="harga"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="email">Deskripsi Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="text" name="deskripsi"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="password">Detail Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="text" name="detail"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="gambar">Gambar Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14" ><input type="file" name="gambar"></div>
    </div>

    <div>
      <input type="submit" value="Tambah Produk" class="btn btn-default">
    </div>
</form>
<div>
  <table>
        <thead>
          <tr>
              <th>Gambar</th>
              <th>Name Produk</th>
              <th>Harga Produk</th>
              <th>Deskripsi Produk</th>
              <th>Detail Produk</th>
              <th>Tanggal Input</th>


              <th>Action</t>
          </tr>
        </thead>
        <% for(var i=0; i<data.length; i++) {%>
        <tbody>
          <tr>
            <td>
              <img class="responsive-img" src="/<%=data[i].gambar%>"/>
            </td>
            <td><%= data[i].name %></td>
            <td><%= data[i].harga %></td>
            <td><%= data[i].deskripsi %></td>
            <td><%= data[i].detail %></td>
            <td><%= data[i].tanggal %></td>
            <td><a href="/<%=data[i].id%>">hapus</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>

</div>

<% include adminFoot%>
