<% include adminHead%>
<form method="post" action="/kontak">

    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="tlprmh">
          <label for="email">Telpone rumah</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="tlpgsm">
          <label for="email">Telpone GSM</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="email">
          <label for="email">Alamat Email</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="bbm">
          <label for="email">PIN BBM</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="wa">
          <label for="email">Nomor WA</label  >
        </div>
    </div>

    <div>
      <input type="submit" value="Tambah kontak" class="btn btn-default red">
    </div>
</form>
<div>
  <table class="bordered">
        <thead>
          <tr>

              <th>Nomor Telpon Rumah</th>
              <th>Nomor Telpon GSM</th>
              <th>Alamar Email</th>
              <th>Pin BBM</th>
              <th>WA</th>
              <th>Action</t>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td><%= data[0].telponrumah %></td>
              <td><%= data[0].telpongsm %></td>
              <td><%= data[0].email %></td>
              <td><%= data[0].bbm %></td>
              <td><%= data[0].wa %></td>
            </tr>
        </tbody>
      </table>

</div>

<% include adminFoot%>
