<form method="post" action="/tambah" enctype="multipart/form-data">

    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="name">
          <label for="email">Nama Produk</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="harga">
          <label for="email">Harga Produk</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="deskripsi">
          <label for="email">Deskripsi Produk</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input  type="text" name="detail">
          <label for="email">Detail Produk</label>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="gambar">Gambar Produk:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14" ><input type="file" name="gambar" class="btn btn-default"></div>
    </div>

    <div>
      <input type="submit" value="Tambah Produk" class="btn btn-default red">
    </div>
</form>
<div>
  <table class="bordered">
        <thead>
          <tr>
              
              <th>Nomor Telpon Rumah</th>
              <th>Nomor Telpon GSM</th>
              <th>Alamar Email</th>
              <th>Pin BBM</th>
              <th>WA</th>
              <th>Action</t>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            </td>
            <td><%= data[i].telponrumah %></td>
            <td><%= data[i].telpongsm %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].bbm %></td>
            <td><%= data[i].wa %></td>
            <td><a href="/<%=data[i].id%>" class="btn btn-floating red">Del</a></td>
            <td><a href="/<%=data[i].id%>" class="btn btn-floating yellow">Edit</a></td>

          </tr>
        </tbody>
      </table>

</div>

<% include adminFoot%>
