<% include head %>
<% for (var i=0;i<data.length;i++) {%>
<div>
    <div>
      <img class="circle responsive-img" src="<%=data[i].gambar%>">
    </div>
    <div class="card-content">
      <p><a href="/detail/<%=data[i].id%>">Detail</a></p>
      <span class="card-title activator grey-text text-darken-4"><%=data[i].name%><i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%=data[i].name%><i class="material-icons right">close</i></span>
      <p><%=data[i].detail%></p>
    </div>
  </div>
<%}%>
<% include foot %>
