<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acacom</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="cc/css/materialize.min.css"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='cc/js/materialize.min.js'></script>
<script src='cc/js/pace.min.js'></script>
<link rel="stylesheet" href="cc/css/pace.css" />

  </head>
  <body>
    <script>
    $(document).ready(function(){
        $('.slider').slider();
      });

    </script>
<!--navbar-->
    <nav>
      <div class="nav-wrapper">
        <a></a>
         <a href="#" class="brand-logo left"><img class="responsive-img" id="logo" src=""></a>
         <ul id="nav-mobile" class="left hide-on-med-and-down">

           <li>
             <a href="/">Home</a>
           </li>
           <li>
             <a href="/about">About</a>
           </li>
           <li>
             <a href="/?page=1">Product</a>
           </li>
          </ul>
              <% if (login) { %>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
              
               <li><a href="/admin">Admin Page</a></li>

                 <li><a href="/logout">Keluar</a></li>
              <% } else { %>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><div class="chip"><img src="cc/images/wa.png" alt="Contact Person"><b><%=nomor[0].info[0].telpongsm%></b></div>
               <div class="chip"><img src="cc/images/bbm.png" alt="Contact Person"><b><%=nomor[0].info[0].bbm%><b></div></li>
               <li><a href="/login">Masuk</a></li>
             <% } %>

         </ul>
       </div>
    </nav>
<!--end navbar-->
<!-- Page Layout here -->
    <div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <div class="collection">
          <a href="/" style="background: #ee6e73"class="collection-item vilign center white-text">Menu</a>
          <a href="/" class="collection-item">Home</a>
          <a href="/about" class="collection-item">About</a>
          <a href="/order" class="collection-item">Cara Order</a>
          <a href="/product" class="collection-item">Product</a>
        </div>
                 <div class="collection">
          <a href="/" style="background: #ee6e73"class="collection-item vilign center white-text">Info Produk</a>
          <span class="card-title"><h5 class="center-align">Hotest Produk</h5></span>
          <p>Jangan sungkan untuk menghubungi kami.</p>
          
        </div>
       <div class="collection">
          <a href="/" style="background: #ee6e73"class="collection-item vilign center white-text">Sistem Antar</a>
          <span class="card-title valign justify">Hubungi Kami</span>
          <p>Jangan sungkan untuk menghubungi kami.
          kami siap membantu anda memenuhi kebutuhan
          perusahaan anda dalam hal teknologi komunikasi</p>
          <div class="chip">
          <img src="cc/images/wa.png" alt="Contact Person">
          <b><%=nomor[0].info[0].telpongsm%></b>
          </div>
          <div class="chip">
          <img src="cc/images/bbm.png" alt="Contact Person">
          <b><%=nomor[0].info[0].bbm%></b>
          </div>
        </div>
          <div class="collection">
          <a href="/" style="background: #ee6e73"class="collection-item vilign center white-text">Informasi Alamat</a>
          <span class="card-title valign justify">Hubungi Kami</span>
          <p>Jangan sungkan untuk menghubungi kami.
          kami siap membantu anda memenuhi kebutuhan
          perusahaan anda dalam hal teknologi komunikasi</p>
          <div class="chip">
          <img src="cc/images/wa.png" alt="Contact Person">
          <b><%=nomor[0].info[0].telpongsm%></b>
          </div>
          <div class="chip">
          <img src="cc/images/bbm.png" alt="Contact Person">
          <b><%=nomor[0].info[0].bbm%></b>
          </div>
        </div>
      

      </div>



